@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #002060;
  --primary-color: #1e40af;
  --secondary-color: #334155;
  --tertiary-color: #0f172a;
  --accent-color: #f59e0b;
  --foreground: #111827;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Fjalla One", sans-serif;
  --accent-font: "Permanent Marker", cursive;
}

/* @theme inline {

  --color-background: var(--background-primary);
  --color-foreground: var(--foreground);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #0f172a;
    --background-secondary: #1e293b;
    --foreground: #f8fafc;
  }
} */

body {
  box-sizing: border-box;
  color: var(--primary-color);
  background: var(--background);
  font-family: var(--body-font), Arial, Helvetica, sans-serif !important;
}

h1 {
  font-family: var(--heading-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.75em;
}

h2 {
  font-family: var(--heading-font), Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 3em;
}

h3 {
  font-family: var(--heading-font), Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.25em;
}

h4 {
  font-family: var(--body-font), Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.75em;
}

h5 {
  font-family: var(--body-font), Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25em;
}

p {
  font-family: var(--body-font), Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

nav {
  font-family: var(--heading-font), Arial, Helvetica, sans-serif;
  font-size: 1em !important;
}

.meta {
  font-family: var(--body-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.body-font {
  font-family: var(--body-font), Arial, Helvetica, sans-serif !important;
}

.heading-font {
  font-family: var(--heading-font), Arial, Helvetica, sans-serif !important;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.tertiary {
  color: var(--tertiary-color);
}

.accent {
  color: var(--accent-color);
}

.bg-primary {
  background-color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--primary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

input {
  border: var(--primary) solid 2px;
  color: var(--primary-color);
}

select {
  border: var(--primary) solid 2px;
  color: var(--primary-color);
  padding: 12px 18px 12px 18px;
}

textarea {
  border: var(--primary) solid 2px;
  color: var(--primary-color);
  padding: 12px 18px 12px 18px;
}

.language-selector {
  color: white !important;
  text-decoration: underline;
}

.hero h1 {
  font-size: 40px;
  text-align: center;
}

@media (min-width: 678px) {
  .hero h1 {
    font-size: 80px;
    text-align: left;
  }
}

.hero-title {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif !important;
  font-size: 2.75em !important;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}

@media (min-width: 678px) {
  .hero-title {
    font-family: var(--accent-font), Arial, Helvetica, sans-serif !important;
    font-size: 4.75em !important;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
  }
}

.bg-hero {
  position: relative;
  background-image: url("https://res.cloudinary.com/dkarbzbwx/image/upload/v1752619664/Portada_msuvu0.png");
  background-size: cover;
  background-position: center;
}

.bg-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-secondary);
  z-index: 0;
  opacity: 50%;
}

.bg-hero > * {
  position: relative;
  z-index: 1;
}

.team-card h3 {
  font-size: 2.5em !important;
}

.team-card p {
  font-size: 1.3em !important;
}

.stats p {
  font-size: 8em !important;
  font-family: var(--heading-font), Arial, Helvetica, sans-serif !important;
  color: var(--accent-color);
}

.stats h5 {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif !important;
}
